<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedItem.title}} Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedItem">
    {{selectedItem.title}}
    <ion-icon [name]="selectedItem.icon"></ion-icon>
  </h3>

  <ion-list>
    <ion-item>
      <ion-label> Item Id </ion-label>
      <ion-badge item-right> {{selectedItem?.itemId}}</ion-badge>
   </ion-item>
   <ion-item>
     <ion-label> item Name </ion-label>
     <ion-badge item-right> {{selectedItem?.itemName}}</ion-badge>
  </ion-item>
 <ion-item>
   <ion-label> Description </ion-label>
   <ion-badge item-right> {{selectedItem?.desc}}</ion-badge>
</ion-item>
<ion-item>
  <ion-label> Price </ion-label>
  <ion-badge item-right> {{selectedItem?.price}}</ion-badge>
</ion-item>
<ion-item>
  <ion-label> Cuisines Name </ion-label>
  <ion-badge item-right> {{selectedItem?.cuisinesName}}</ion-badge>
</ion-item>
<ion-item>
  <ion-label> Category Name </ion-label>
  <ion-badge item-right> {{selectedItem?.categoryName}}</ion-badge>
</ion-item>
<ion-item>
  <ion-label> Category Description </ion-label>
  <ion-badge item-right> {{selectedItem?.categoryDesc}}</ion-badge>
</ion-item>
<ion-item>
  <ion-label> Picture </ion-label>
  <ion-badge item-right> {{selectedItem?.picture}}</ion-badge>
</ion-item>
<ion-item>
  <ion-label> Latitude </ion-label>
  <ion-badge item-right> {{selectedItem?.lat}}</ion-badge>
</ion-item>
<ion-item>
  <ion-label> Longitude </ion-label>
  <ion-badge item-right> {{selectedItem?.long}}</ion-badge>
</ion-item>
<ion-item>
  <ion-label> Supplier Name </ion-label>
  <ion-badge item-right> {{selectedItem?.supplierName}}</ion-badge>
</ion-item>
<ion-item>
  <ion-label> Supplier Id </ion-label>
  <ion-badge item-right> {{selectedItem?.supplierId}}</ion-badge>
</ion-item>
<ion-item>
  <ion-label> Media Id </ion-label>
  <ion-badge item-right> {{selectedItem?.mediaId}} </ion-badge>
</ion-item>
 </ion-list>
</ion-content>
